# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Source\timetable-integration-services\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
